<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Home</a>|<a href="{% url 'about' %}">About</a>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>